button {
    touch-action: manipulation;             /*this is for the double tap issue for mobile devices*/
    border: 1px outset blue;
    background-color: lightBlue;
    height:50px;
    width:50px;
    cursor:pointer;
}

button:hover {
   background-color: blue;
   color:white;
}
