button {
    touch-action: manipulation;          /*line2 is for the double tap issue for mobile devices*/
    border: none;
    background-color: #b3b3b3; 
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
h3 {
  font-family: arial, sans-serif;
}
p {
  font-family: arial, sans-serif;
}
.PButton {
    touch-action: manipulation;           
    border: none;
    background-color: #66ffff;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.DButton {
    touch-action: manipulation;          
    border: none;
    background-color: #ff00ff;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.LButton {
    touch-action: manipulation;          
    border: none;
    background-color: #e0b3ff;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.VButton {
    touch-action: manipulation;          
    border: none;
    background-color: #000066;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
